# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Django - fichiers média générés
backend/media/

# Fichiers temporaires Django
backend/tmp_http_test_random.log

# Python
__pycache__/
*.py[cod]

# Environnement virtuel Python
venv/
.venv/

# Variables d'environnement
.env